<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>

        <pipelines>

            <initialize>
                <processor type="Sitecore.Feature.Commerce.Orders.Website.Infrastructure.Pipelines.RegisterDataModelExtensions, Sitecore.Feature.Commerce.Orders.Website"/>
            </initialize>
          <commerce.carts.addCartLines>
            <processor type="Sitecore.Commerce.Engine.Connect.Pipelines.Carts.AddCartLines, Sitecore.Commerce.Engine.Connect">
              <patch:delete />
            </processor>
            <processor type="Sitecore.Feature.Commerce.Orders.Website.Pipelines.AddCartSubLines, Sitecore.Feature.Commerce.Orders.Website" patch:before="processor[@type='Sitecore.Commerce.Pipelines.Carts.Common.UpdateVisitorInEAPlan, Sitecore.Commerce']">
              <param ref="eaPlanProvider"/>
              <param ref="eaStateCartRepository"/>
              <param desc="DisableEaPlan">False</param>
            </processor>
          </commerce.carts.addCartLines>
        <!-- <commerce.carts.loadCart>
            <processor type="Sitecore.Commerce.Engine.Connect.Pipelines.Carts.LoadCart, Sitecore.Commerce.Engine.Connect">
              <patch:delete />
            </processor>
            <processor type="Sitecore.Feature.Commerce.Orders.Website.Pipelines.LoadCartWithSubLines, Sitecore.Feature.Commerce.Orders.Website" patch:after="processor[@type='Sitecore.Commerce.Engine.Connect.Pipelines.Carts.LoadCart, Sitecore.Commerce.Engine.Connect']"/>
            <processor type="Sitecore.Commerce.Engine.Connect.Pipelines.Carts.LoadCart, Sitecore.Commerce.Engine.Connect">
              <patch:delete />
            </processor>
        </commerce.carts.loadCart> -->
        </pipelines>

    </sitecore>
</configuration>