<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <commerceEngineConfiguration type="Sitecore.Commerce.Engine.Connect.CommerceEngineConfiguration, Sitecore.Commerce.Engine.Connect">
      <shopsServiceUrl>http://habitat.commerceengine.dev.local:5000/api/</shopsServiceUrl>
      <defaultEnvironment>HabitatAuthoring</defaultEnvironment>
      <defaultShopName>Storefront</defaultShopName>
      <defaultShopCurrency>USD</defaultShopCurrency>
      <certificateValidationEnabled>false</certificateValidationEnabled>
      <certificatePath></certificatePath>
    </commerceEngineConfiguration>
  </sitecore>
</configuration>