<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <CommerceEnvironment>
      <ApiService DataServiceUrl="http://habitat.commerceengine.dev.local:6000/api/" ShopName="Storefront"  />
      <CommerceOpsService DataServiceUrl="http://habitat.commerceengine.dev.local:6000/commerceops/" ShopName="Storefront" />
    </CommerceEnvironment>
    <commerceEngineConfiguration type="Sitecore.Commerce.Engine.Connect.CommerceEngineConfiguration, Sitecore.Commerce.Engine.Connect">
      <shopsServiceUrl>http://habitat.commerceengine.dev.local:6000/api/</shopsServiceUrl>
      <defaultEnvironment>HabitatAuthoring</defaultEnvironment>
      <defaultShopName>Storefront</defaultShopName>
      <defaultShopCurrency>USD</defaultShopCurrency>
      <certificateValidationEnabled>false</certificateValidationEnabled>
    </commerceEngineConfiguration>
  </sitecore>
</configuration>